* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 18px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: 0.3s ease;
  z-index: 1000;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* SCROLL EFFECT NAVBAR */
nav.scrolled {
  background: #0f172a;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

nav.scrolled a {
  color: white;
}

/* HERO SECTION */
.hero {
  min-height: 100vh;
  background: linear-gradient(to right, #1e3a8a, #0f172a);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 20px;
}

/* BUTTON */
.btn {
  margin-top: 25px;
  padding: 14px 28px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #0ea5e9;
  color: white;
}

/* SECTIONS */
.section {
  padding: 120px 40px;
  text-align: center;
}

.dark {
  background: #0f172a;
  color: white;
}

/* RESPONSIVE */
@media(max-width:768px){

  .hero h1{
    font-size: 32px;
  }

  nav{
    flex-direction: column;
  }

  .nav-links{
    margin-top:10px;
  }

  .nav-links li{
    margin:8px;
  }
}
